*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
}

body{
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg);
}

.nav{
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    left: 0px;
    background: #fff;
    width: 140px;
    overflow: hidden;
    /* transition: width 0.2s linear; */
    /* box-shadow: 0 20px 35px rgba(0, 0, 0,0.1); */
}
.nav ul li{
    list-style-type: none;
    display: flex;
}
@media (max-width:1024px){
    .nav{
        display: none;
    }
    .smallnav{
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
    }
    #opennav:checked ~ .Opennav{
        display: flex;
        left: 0px;
        transition: left 1s;
    }
}


@media (max-width:431px){
    .nav{
        display: none;
    }
    .smallnav{
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
    }
    #opennav:checked ~ .Opennav{
        display: flex;
        left: 0px;
        transition: left 1s;
    }
}


.demo1{
    position: absolute;
    margin-top: 15vw;
    margin-left: 15vw;
}

.frm{
    position: absolute;
    margin-top: 5vw;
    margin-left: 18vw;
}


@media (max-width:431px){
    .frm{
        display: flex;
        margin-top: 500px;
        margin-left: 0px;
    }
}
.button-edit{
    background-color: green;
    padding: 6px;
    border-radius: 5px;
}

.button-delete{
    background-color: red;
    padding: 6px;
    border-radius: 5px;
}



td{
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
input{
    text-align: center;
}